.counter {
  text-align: center;
  font-size: 55px;
}
.count button {
  background-color: rgb(50, 234, 8);
  width: 250px;
  height: 65px;
  font-size: 25px;
 gap: 15px;
}
.text{
  color: cadetblue
}
